.wrapper {
  color: var(--color-white);
  position: relative;

  &:not(:last-of-type) {
    margin-right: 20px;
  }
}

.count-wrapper {
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: fit-content;
  left: -12px;
  position: absolute;
  right: 0;
  text-align: center;
  top: -5px;
  width: 103px;

  .time {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 75px;
    justify-content: center;
    line-height: 30px;
    margin: 10px;
    padding-top: 10px;
  }

  .label {
    font-size: 20px;
    margin-top: 6px;
    text-transform: uppercase;
  }
}
