.main {
  background-color: var(--color-black);
  height: 100vh;
}

.section {
  margin: 40px 0;
  padding: 0 24px;

  .timer-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
    text-transform: uppercase;
  }
}

.section-subtitle {
  color: var(--color-white);
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
}

.section-title {
  margin-bottom: 24px;
}
